.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.avatar-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  position: relative;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar-label {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 10px;
  background-color: #f3f70e;
  color: rgb(7, 6, 6);
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn {
  display: none;
}

.avatar-empty label {
  padding: 6px 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #3e8e41;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #9bee6e;
}

input[type="password"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  margin-left: 5px;
  font-size: 16px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
